.about {
    .banner_about {
        background-image: url(../assets/img/herogirl.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 377px;
        background-color: black;

        @media @tablet {
            background-color: #cccccc;
            /* Used if the image is unavailable */
            height: 500px;
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
        }
    }

    .header-content {
        //Fix-Later: The Text doesn't look right, make it work.
        margin-top: 130px;
        width: 500px;

        @media @tablet {
            margin-top: 180px;
            width: 800px;
        }

        .h-top {
            h1 {
                font-size: 1.5rem;
            }

            @media @tablet {
                h1 {
                    //Controls the size of the Header on the Hero
                    font-size: 2.3rem;
                }
            }
        }
    }

    button {
        //Turning off the call to action button on the about page.
        display: none;
    }

    .circle {
        //Gives the personal photos the same look as the Marketing Page
        border-radius: 100px;
    }

    .section-3 {
        //Setting the width of the tab content area to achieve a middle alignment.
        //Adjust this if you change the entire width of the page.
        width: 350px;
        background: lighten(@bookr-grey, 60%);
        border-radius: 10px;
        padding: 30px 30px 0 30px;
        border-left: 1px solid @bookr-orange;

        @media @tablet {
            width: 600px;
            display: flex;

            p {
                font-size: 1.1rem;

            }
        }

        .parent {
            width: 300px;

            @media @tablet {
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;

                img {
                    max-width: 200px;
                    height: auto;
                }



                div {
                    padding-right: 25px;
                }
            }
        }
    }

    // ---------------------- Tabs Styling --------------------------------
    .social-card-tabs {

        width: 100%;
        padding: 5px 0 0 0;


        .flex(row, space-evenly, baseline);


        .social-icons {

            img {
                width: 25px;

                @media @tablet {
                    width: 20px;
                }
            }
        }
    }

    .tabs {
        .tabs-items {
            //Adds Space between the UI bar and the content
            padding-top: 15px;
        }

        .tabs-item {
            //Starts the content spaces off hidden
            display: none;
        }

        .tabs-item-selected {
            .flex(row, center, center);
        }

        .tabs-links {
            margin-top: 25px;
            flex-wrap: wrap;
            margin: 25px auto;
            .flex(row, space-evenly, center);

            background-color: white;
        }

        .tabs-link {
            //Set's up the styles for the UI buttons that tabs to seperate profiles
            padding: 20px 30px;
            margin-right: 10px;
            margin-bottom: 10px;

            @media @tablet {
                padding: 20px 20px;
                margin-right: 0px;
                margin-bottom: 0px;
            }

            font-size: 24px;
            background-color: @bookr-orange;
            color: white;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: darken(@bookr-orange, 15%);
                color: white;
            }
        }

        .tabs-link-selected {
            border-right: 1px solid @bookr-orange;
            background-color: darken(@bookr-orange, 20%);
            border-radius: 10px;
            color: white;

            &:hover {
                background-color: lighten(@bookr-orange, 20%);
            }
        }
    }
}