.below-header {
    .flex(column, center, center);
    text-align: center;

    margin: 25px 18px;
    color: lighten(@bookr-grey, 15%);

    h2 {
        font-size: 1.3rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
        font-size: 1.3rem;
        padding-bottom: 20px;
        padding-top: 10px;
    }
}