.social-card {

    width: 100%;
    padding: 35px 35px 0 35px;


    .flex(row, space-between, baseline);

    @media @desktop {
        .flex(row, space-evenly, baseline);

    }

    .social-icons {

        img {
            width: 45px;
            fill: red;
        }
    }
}

.copyright {
    .flex(row, space-between, center);
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;

    p {
        font-size: .9rem;
        text-align: right;
        color: @bookr-grey;
    }
}