.header-content {
    // background-color: rgba(0, 0, 50.2, .5);
    color: white;
    margin-top: 95px;

    @media @desktop {
        margin-top: 195px;
    }

    // margin-left: 20px;
    // margin-right: 10px;
    .flex(row, space-around, flex-end);


    .h-top {
        width: 50%;
        margin-top: -20px;
        margin-bottom: 20px;

        p {
            @media @desktop {
                font-size: 1.7rem;
            }
        }

        h1 {
            font-size: 2.0rem;
            text-shadow: 2px 2px 4px #00000060;

            @media @desktop {
                font-size: 2.2rem;
            }
        }
    }

}