// LESS styles for the index.html homepage
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    // background-color: rgb(192, 50, 104);

}

.page-wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 375px;


    background-color: lighten(@bookr-bronze, 55%);
}



.banner {
    background-image: url(../assets/img/Hero-banner-image.jpg);
    height: 377px;

    background-size: 375px 377px;
}

.black_line {
    margin: 40px 20px;
    border-bottom: 2px solid lighten(@bookr-grey, 45%);

}


button {
    background-color: @bookr-orange;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
}

.h2-quickfix_ {
    margin-left: 25px;
    color: @bookr-grey;
}